
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f5f5;
   
}

header{
    background-color: #333; 
    position:fixed;
    width: 100%;
    

}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
   
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    
}
nav ul li a:hover{
    box-sizing: border-box;
    
    color: #43b4ff;
}

.intro {
   
    background-color: #444;
    color: white;
    text-align: center;
    padding: 110px 40px 60px;
    margin-top: 0;
}

.intro h1 {
    margin: 0;
}

.intro .button {
    background-color: #ff9800;
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
}

section {
    padding: 15px 40px 15px 40px  ;
    max-width: 900px;
    margin: 30px auto;
    background-color: white;
}

.about-me img {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;   
}
.about-me p{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

.projects p {
    margin: 20px 0;
}

.skills ul li{
    background-color: #e2e1e1;
    padding: 8px;
}

.resume {
    text-align: center;
   
}
.resume .button {
    background-color: #ff9800;
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    
}
.button:hover{
    color: #000000;
    opacity: 0.8;
    font-weight: 500;
}

.Socialmedia {
   
    text-align: center;
}

.Socialmedia img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}


.Socialmedia ul li {
    display: inline;
    margin: 0 10px;
}

.Socialmedia ul li a {
    color: rgb(56, 66, 251);
    text-decoration: none;
}
.Socialmedia li a:hover{
    color: #001773;
   

 }
footer p{
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 15px;
}